<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>
    <title>Marketplace</title>
</head>
<body>
    Home
    <a href="/client/login">Login Client</a>
    <script src="/js/script.js"></script>
</body>
</html>