<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
    <title>Marketplace - Client</title>
</head>
<body>
    <form action="/client/login" method="post">
    
        <label for="">Email</label>
        <input type="email" name="email" id="" placeholder="Tap your email">
        <label for="">Password</label>
        <input type="password" name="password" id="" placeholder="Tap your password">
    
        <input type="submit" value="Login">
    </form>
</body>
</html>